# Allow folder traversal
!*/

# Ignore typical VS/Windows junk
*.log
*.bak
*.tmp
*.cache
*.suo
*.user
*.sln
*.dtproj
*.dtsConfig
*.ispac
*.exe
*.dll

# Ignore IDE and build folders
.vs/
bin/
obj/
__pycache__/
*.pyc
.env/
.env.*

# Ignore build output from older folders (escape spaces)
DatabaseAdministration/SSI\ Packages/bin/
DatabaseAdministration/SSI\ Packages/obj/
